body{ 
    width: 1440px;
    background-color: #fff;
    font-family: Roboto,sans-serif;
    color: #434455;
    font-style: normal;
    box-sizing: border-box;
    margin: 0 auto;}



ul{list-style-type: none;}

a{text-decoration: none;}

h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;}

ol,ul{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
padding-inline-start: 0;}

img{
    display: block;
}

.conteiner{ 
    
   }
/* header */
.conteiner-header{
    border-bottom: 1px solid  #E7E9FC;
    background: #FFF;
    width: 1440px; 
    flex-shrink: 0;
    display: inline-flex;
    justify-content: space-between;
    padding: 24PX 156px;
    margin-bottom: 0;
    border-bottom: 1px solid #e7e9fc;}
.nav{
    align-items: center;
    display: flex;
    }
.logo-header{
    margin-right: 76px;
    display: flex;}
    

.logo-studio {
    color: #2E2F42;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;}

.social-links .link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #2e2f42;
}
.social-links{
    padding: 24px 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;}
.social-links .link:hover,
.social-links .link:focus{
    color: #404BBF;}


 .address-links{
    display: flex;
    align-items: flex-start;
    gap: 40px;}
.link{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    padding: 24px 0;
}

.link:hover, 
.link:focus{color: #404BBF;}
.section{
    padding-top: 120px;
    padding-bottom: 120px;}
    /* hero */
.hero{padding: 188px 0;}
.conteiner-hero{ 
    background-color: #2E2F42;
    flex-direction: column;
    align-items: center;   
    display: flex;   
    padding-left: 472px;
    padding-top: 188px;
    padding-right: 472px;
    padding-bottom: 188px ;
    margin-top: 0;
   }
.title-hero{
    max-width: 496px;
    color: #ffffff;   
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}

.button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;    
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    background-color:#4D5AE5;
    margin-top: 48px;}
.button:hover,
.button:focus{
    background-color: #404BBF;}
.visually-hidden{visibility: hidden;}
.advantages-kont{ 
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    width: 1148;
    margin-left: 156px;
    margin-right: 156px;}
 .advantages-kont-link{
    width: calc((100% - 72px) / 4);
    display: flex;
}
.advantages-title{
    align-items: flex-start;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advantages-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: flex-start;
}
/* TEAM */
.section-team{
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
  
 }
    
 .card-content{
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    margin-top:32px;
    padding: 32px 0;
    text-align: center;
   }
.team-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing:0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}
.team-cont{display: flex;
    justify-content: center;
    gap: 24px;
   
}
.team-card{ background-color: #FFFFFF;
    font-style: normal;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    }

.conteiner-portfolio{
    background-color: #FFF;
    flex-shrink: 0;
   }
.portfolio-cont{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}
.portfolio-title{text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;}
.portfolio-card{
    display: flex;
    width: calc((100% - 48px) / 3);
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background: #FFF; 
    margin-bottom: 48px;  
}
.portfolio-card-content{
    display: flex;
    padding: 32px 16px;
    flex-direction: column;    
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-title-card{
    text-align: center;
    font-size:20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px
   }
.portfolio-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
 }
/* footer */
.footer{
    background-color: #2e2f42; 
    padding: 100px 0;
}
.conteiner-footer{
    display: flex;
    flex-direction: column;
     width: 264px;
    flex-shrink: 0;}
.logo{
    display: inline-block;
    height: 24px;
    flex-shrink: 0;
    margin-bottom: 16px;
}
.logo-web-footer{
    margin-bottom: 16px;
    width: 44px;
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
}

.logo-studio-footer{
    margin-bottom: 16px;
    width: 71px;
    color: #f4f4fd;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
}

.text-footer{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
   }